.pollname {
    padding: 1%;
    border-style: none;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
}

.poll-name-button { 
    border-style: none;
    padding: 1%;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
}